@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html{
    background: url('./Background.jpg') no-repeat center center fixed;
    background-size: cover;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Nunito';
    margin:0;
    padding:0;
}



header{
    background-color: #3ac2f2;
    position:fixed;
    top:0;
    width:100vw;
    height:9vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-bottom: .5vh;
    padding-top: .5vh;
    z-index: 2;
}

nav{
    display:flex;
    width: fit-content;
    margin-right: 3vw;
}

.logo{
    height:100%;
    display:flex;
    align-items: center;
    justify-self:left; 
    color: white;
    font-size: 30px;
    font-weight: bold;
    gap: 10px;
    margin-left: 3vw;
}

.logo>img{
    height:100%;
    border-radius: 5px;
}

a{
    color: inherit;  
    text-decoration: inherit; 
}

nav div{
    font-size: 25px;
    margin:auto 1em;
    font-weight: bold;;
}

.butonmain{
    position:relative;
    color: darkgoldenrod;
}

.butonmain:before{
    position:absolute;
    content: '';
    bottom:0px;
    background-color: darkgoldenrod;
    color: orange;
    width:100%;
    height:4px;
}

main{
    margin-top: 10vh;
    display:grid;
    grid-template-columns: repeat(10,10vw);
    grid-template-rows: repeat(10,auto);
}

p{
    font-size: 22px;
    margin:0;
}



h1{
    margin:0 0 1em 0;
}

h2{
    margin:0 0 1em 0;
}

.bold{
    font-weight: bold;
}

.color{
    color:#d6030a;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }

 *::-webkit-scrollbar-track {
    height: 10px;
    border-radius: 10px;
    background-color: rgb(39 39 42);
  }

  *::-webkit-scrollbar-thumb {
    background-color: white;

    border-radius: 10px;
    height: 10px;
  }


/* /////////////////////// */

.content{
    padding:1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #3ac2f2;
    border-radius: 10px;
    grid-column:4/8;
}

p{
    margin-top: 2vh;
}

@media(max-width:1166px){
    nav div{
        font-size: 20px;
    }
    .logo{
        font-size: 25px;
    }
    
}


@media (max-width:600px){
    .content{
        grid-column:2/10;
    }
}

/* ccccccccccccccccccccccccc */
@media all and (max-width:600px){
    .logo>img{
        height:50%;
    }
    header{
        padding-top: 0;
        padding-bottom: 0;
    }
   
    nav div{
        font-size: 2vw;
    }
    .logo{
        font-size: 3vw;
    }
    
    .butonmain:before{
        height:2px;
    }  
}
/* ccccccccccccccccccccccccc */
